<!DOCTYPE html>
<html>
<head>
	<title>vue lesson-2 (loop)</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
				<h1>{{message}}</h1>
			<hr>
				<ul>
					<li v-for="todo in todos">{{todo.text}}</li>
				</ul>
			<hr>
			 	<ul>
					<li style="list-style: none;" v-for="todo in todos">		
						 {{todo.id}}) {{todo.text}}
					</li>
				</ul>
			<hr>
				<ul>
					<li v-for="count in count">		
						 hello
					</li>
				</ul>
	</div>

<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data : {
			message : 'hello Vue js ',
			todos :[
				{ text: 'list items -1', id:1},
				{ text: 'list items -2', id:2},
				{ text: 'list items -3', id:3},
				{ text: 'list items -4', id:4}
			],
		 	count : 10
		}
	});
</script>
</body>
</html>